*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{

    --fonte-padrao: "Oswald", sans-serif;
    --fonte-destaque: "Permanent Marker", cursive;

    --cor1: #D72638;
    --cor2: #050201;
    --cor3: #101010;
    --cor4: #1E1E1E;
}

body{
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
    
}

header{
    position: relative;
    background-image: url('imagens/fundonovo.jpg');
    background-size: cover;
    background-position: bottom right;
    max-width: 1534px;
    height: 47vw;
    padding-top: 10px;

}

header .bola{
    background-color: #fffcfcd2;
    width: 30vw;
    height: auto;
    border-radius: 50%;
    margin: auto;
    
}

header img{
    width: 30vw;
    display: block;
    margin: auto;
  
}

header p{
    position: absolute;
    top: 10vw;
    left: 2vw;
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.9vw;
    max-width: 30vw;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.863);

}

header .botao{
    position: absolute;
    top: 23vw;
    left: 8vw;
    font-family: var(--fonte-destaque);
    font-size: 2vw;
    text-decoration: none;
    background-color: #D72638;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
   
}

.botao:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.738);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659);
}

header nav{
    position: absolute;
    bottom: 20px;
    left: 40px;
   
}

nav a{
    background-color: #D72638;
    color: white;
    padding: 5px 10px;
    font-family: var(--fonte-destaque);
    font-size: 1.6vw;
    text-decoration: none;
    margin-right:20px;
    border-radius: 10px;
}

nav a:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659); 
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.863);
}


