*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{

    --fonte-padrao: "Oswald", sans-serif;
    --fonte-destaque: "Permanent Marker", cursive;

    --cor1: #D72638;
    --cor2: #050201;
    --cor3: #101010;
    --cor4: #1E1E1E;
}

body{
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
    
}

header{
    position: relative;
    background-image: url('imagens/fundonovo.jpg');
    background-size: cover;
    background-position: bottom right;
    max-width: 1534px;
    height: 47.5vw;
    padding-top: 10px;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.642);
}

header .bola{
    background-color: #fffcfcd2;
    width: 30vw;
    height: auto;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.474);
    
}

header img{
    width: 30vw;
    display: block;
    margin: auto;
  
}

header p{
    position: absolute;
    top: 10vw;
    left: 2vw;
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.9vw;
    max-width: 30vw;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.863);

}

header .botao{
    position: absolute;
    top: 23vw;
    left: 8vw;
    font-family: var(--fonte-destaque);
    font-size: 2vw;
    text-decoration: none;
    background-color: #D72638;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
   
}

.botao:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.738);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659);
}

header nav{
    position: absolute;
    bottom: 20px;
    left: 40px;
   
}

nav a{
    background-color: #D72638;
    color: white;
    padding: 5px 10px;
    font-family: var(--fonte-destaque);
    font-size: 1.6vw;
    text-decoration: none;
    margin-right:20px;
    border-radius: 10px;
}

nav a:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659); 
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.863);
}

section.sobre-academia{
    
    background-image: linear-gradient(to top, black, var(--cor4), var(--cor2));
    padding: 20px;
}

section.sobre-academia h2{
    background-image: linear-gradient(to right, transparent, var(--cor1), transparent);
    font-family: var(--fonte-destaque);
    font-size: 2.3em;
    color: white;
    text-align: center;
    margin: 30px 0px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659);
    letter-spacing: 2px;
   
}

article.lutas{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
    margin-top: 80px;
    width: 100%;
}

article.lutas img{
    width: 25vw;
    margin: 30px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659); 
}

article.lutas p{
    color: white;
    font-size: 1.6em;
    display:block;
    width: 35vw;
    margin: 30px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.863);
}

section#trabalho{
   background-color: var(--cor4);
    padding: 10px;
    padding-top: 0px;
}

section#trabalho h2{
    background-image: linear-gradient(to right, transparent, var(--cor1), transparent);
    font-family: var(--fonte-destaque);
    font-size: 2.3em;
    color: white;
    text-align: center;
    margin: 0px 0px 80px 0px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659);
    letter-spacing: 2px;
}

div.professores{
    display: flex;
    justify-content: space-evenly;
}

div.equipe{
    text-align: center;
}

div.equipe p{
    width: 40vw;
    color: white;
    font-size: 1.6em;
    display:block;
    margin: 30px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.863);
}

div.equipe a{
    display: inline-block;
    font-family: var(--fonte-destaque);
    font-size: 1.8vw;
    text-decoration: none;
    background-color: #D72638;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 30px;
}

div.equipe a:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659); 
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.863);
}

div.turma{
    background-color: var(--cor2);
    width: 45vw;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.526); 

}

div.turma img{
    width: 40vw;
    margin: 40px 0px 60px 0px;

}

