@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'barbearia';
    src: url('../fontes/Young\ Heart.ttf') format('truetype');
    font-weight: normal;
}

:root{
    --cor1: #12263A;
    --cor2: #615D6C;
    --cor3: #6F8AB7;
    --cor4: #4A2208;
    --cor5: #F4E7D7;

    --fonte-padrao: arial, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-decorada: 'barbearia',arial;
}

body{
    background-image: url('../imagens/parede-sala.jpg');
    
}

p{
    text-align: justify;
    text-indent: 20px;
}

header{
   /* background-image: url('../imagens/barber2.jpg'); */
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    background-size: cover;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
}

.cabeça{
    width: 1420px;
    margin: auto;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #ddccb7;
    border-radius: 15px 15px 0px 0px;
}

header nav{
    padding: 5px;
    text-align: right;
    margin-top: 10px;
    margin-right: 40px;
}
nav>a{
    background-color: var(--cor2);
    font-family: var(--fonte-decorada);
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px black;
}

header  h1{
    font-family: var(--fonte-decorada);
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: #313628;
    text-shadow: 2px 2px 0px white;
}

header  p{
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: 600;
    color:var(--cor2);
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.707);
    padding: 10px 0px;
}

main{
    background-color: var(--cor5);
    max-width: 1410px;
    margin: auto;
    padding: 0px 15px 15px 15px;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
}
main .s1{
    background-image: url('../imagens/PAPEL-BARBA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    padding: 10px 10px 0px 10px;
}

.s1 h2{
    background-color: #fff;
    width: 300px;
    font-family: var(--fonte-decorada);
    font-size: 2.5em;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    color: var(--cor1);
}

.s1 p{
    background-color: #fff;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1.3em;
    max-width: 1130px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
    text-align: center;
}
 .s1 img{
    background-color: #fff;
    display: block;
    margin: 50px auto 0px auto;
    padding: 40px;
 }

 main .s2{
    background-image: url('../imagens/PAPEL-BARBA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: #fff;
    padding: 10px;
    padding-top: 130px;
 }

 .s2 h2{
    font-family: var(--fonte-decorada);
    font-size: 2.5em;
    text-align: center;
    padding: 0px 0px 94px 0px;
 }

 .s2 p{
    position: relative;
    top: -100px;
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    width: 500px;
    
 }

 .s2 img{
    display: inline-block;
    width: 500px;
 }

 #foto1{
    margin-left: 15%;
 }

 #foto2{
    margin-right: 15%;
 }

 .a1{
    width: 1210px;
    margin: auto;
    padding-bottom: 90px;
 }

 main .s3{
    background-image: url('../imagens/barber.jpg');
    background-repeat: repeat;
    background-size: 1500px 1000px;
    background-color: #fff;
    padding: 10px;
    padding-top: 50px;
 }

 .s3 h2{
    background-color: #fff;
    width: 500px;
    font-family: var(--fonte-decorada);
    font-size: 2.5em;
    text-align: center;
    margin: 0px auto 34px auto;
    padding: 10px;
    border-radius: 20px;
 }

 .s3 p{
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1.3em;
    max-width: 1130px;
    margin: auto;
    text-align: center;
 }

 .s3 .fundo{
    position: relative;
    background-image: url('../imagens/ambiente.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: #12263A;
    margin: 50px auto;
    width: 1300px;
    height: 700px;
    border-radius: 20px;
 }

  div #p1{
    background-color: #ffffff;
    max-width: 400px;
    padding: 10px;
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 1.4em;
    color: var(--cor1);
    border-radius: 20px;
 }

 div #p2{
    background-color: #fff;
    max-width: 400px;
    padding: 10px;
    position: absolute;
    top: 450px;
    left: 800px;
    font-size: 1.4em;
    color: var(--cor1);
    border-radius: 20px;
 }

 div .fundo img{
    
 }
 

footer{
    background-color: var(--cor2);
    padding: 10px;
}

footer p{
    text-align: center;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}